.phone-card {
  display: flex;
  flex-direction: column;

  width: 250px;
  height: 550px;
  padding: 8px;

  border: 1px solid #b0b0b0;

  transition: box-shadow 0.2s;

  &:hover {
    box-shadow:
      0 0 2.1px rgba(0, 0, 0, 0.026),
      0 0 4.5px rgba(0, 0, 0, 0.038),
      0 0 7.4px rgba(0, 0, 0, 0.047),
      0 0 11.6px rgba(0, 0, 0, 0.055),
      0 0 18px rgba(0, 0, 0, 0.063),
      0 0 28.7px rgba(0, 0, 0, 0.072),
      0 0 47.5px rgba(0, 0, 0, 0.084),
      0 0 82px rgba(0, 0, 0, 0.11);

  }

  &__img {
    width: 100%;
    height: 50%;
    object-fit: contain;
    margin-bottom: 10px;
  }

  &__buy-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__price {
    font-size: 30px;
    font-weight: 600;
  }

  &__status {
    font-size: 18px;
    color: rgb(36, 191, 0);
  }

  &__button {
    height: 50px;
    margin-bottom: 15px;

    font-size: 25px;
    font-weight: bold;

    color: #00a4f1;
    background-color: #fff;
    border: 2px solid #00a4f1;
    border-radius: 10px;

    cursor: pointer;

    transition: color 0.2s, background-color 0.2s;


    &:hover {
      background-color: #00a4f1;
      color: #fff;
    }
  }
}
